includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    level: 8
    paths:
        - src
    tmpDir: .phpstan-cache
    reportUnmatchedIgnoredErrors: true
